@{
    if (TempData["success"] != null)
    {
        // <div class="@TempData["variant"]">
        //     <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        //     <strong>@TempData["success"]</strong>
        // </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.info('@TempData["success"]');
        </script>
    }
}